@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/*
!Utilities Or Helper CSS
*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

html,
body {
  overflow-x: hidden;
  background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  color: #333;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

h6 {
  font-size: 16px;
  line-height: 22px;
}
@media (max-width: 700px) {
  h6 {
    font-size: 14px;
    line-height: 19px;
  }
}

img,
svg {
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:focus {
  outline: none !important;
}

input,
select,
textarea {
  font-weight: 400;
  font-size: 16px;
  color: #101010;
}

input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

textarea:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  cursor: pointer;
  border: none !important;
  background-color: transparent;
}

button:hover {
  border: none !important;
}

*::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #707070;
}

*::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #707070;
}

*::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #707070;
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: #2280c8;
}

::selection {
  color: rgb(255, 255, 255);
  background: #2280c8;
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: #2280c8;
}

/*  Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.default_section_gap {
  margin-top: 80px;
}
@media (max-width: 700px) {
  .default_section_gap {
    margin-top: 60px;
  }
}

.home_videos_slider {
  position: relative;
}
.home_videos_slider .owl-theme .custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.home_videos_slider .owl-theme .custom-nav .owl-prev, .home_videos_slider .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.home_videos_slider .owl-theme .custom-nav .owl-prev i, .home_videos_slider .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.home_videos_slider .owl-theme .custom-nav .owl-prev {
  left: -55px;
}
.home_videos_slider .owl-theme .custom-nav .owl-next {
  right: -55px;
}
.home_videos_slider .owl-theme .owl-nav :hover {
  background: none !important;
}

.home_videos_slider {
  position: relative;
}
.home_videos_slider .owl-theme .custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.home_videos_slider .owl-theme .custom-nav .owl-prev, .home_videos_slider .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.home_videos_slider .owl-theme .custom-nav .owl-prev i, .home_videos_slider .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.home_videos_slider .owl-theme .custom-nav .owl-prev {
  left: -55px;
}
.home_videos_slider .owl-theme .custom-nav .owl-next {
  right: -55px;
}
.home_videos_slider .owl-theme .owl-nav :hover {
  background: none !important;
}
.home_videos_slider .additional_products_slider {
  position: relative;
}
.home_videos_slider .additional_products_slider .owl-theme .custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.home_videos_slider .additional_products_slider .owl-theme .custom-nav .owl-prev, .home_videos_slider .additional_products_slider .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.home_videos_slider .additional_products_slider .owl-theme .custom-nav .owl-prev i, .home_videos_slider .additional_products_slider .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.home_videos_slider .additional_products_slider .owl-theme .custom-nav .owl-prev {
  left: -55px;
}
.home_videos_slider .additional_products_slider .owl-theme .custom-nav .owl-next {
  right: -55px;
}
.home_videos_slider .additional_products_slider .owl-theme .owl-nav :hover {
  background: none !important;
}

.news_slider {
  position: relative;
}
.news_slider .owl-theme .custom-nav {
  position: absolute;
  top: 23%;
  left: 0;
  right: 0;
}
.news_slider .owl-theme .custom-nav .owl-prev, .news_slider .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.news_slider .owl-theme .custom-nav .owl-prev i, .news_slider .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.news_slider .owl-theme .custom-nav .owl-prev {
  left: -55px;
}
.news_slider .owl-theme .custom-nav .owl-next {
  right: -55px;
}
.news_slider .owl-theme .owl-nav :hover {
  background: none !important;
}
.news_slider .additional_products_slider {
  position: relative;
}
.news_slider .additional_products_slider .owl-theme .custom-nav {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.news_slider .additional_products_slider .owl-theme .custom-nav .owl-prev, .news_slider .additional_products_slider .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.news_slider .additional_products_slider .owl-theme .custom-nav .owl-prev i, .news_slider .additional_products_slider .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.news_slider .additional_products_slider .owl-theme .custom-nav .owl-prev {
  left: -55px;
}
.news_slider .additional_products_slider .owl-theme .custom-nav .owl-next {
  right: -55px;
}
.news_slider .additional_products_slider .owl-theme .owl-nav :hover {
  background: none !important;
}

.others_products {
  position: relative;
}
.others_products .owl-theme .custom-nav {
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
}
.others_products .owl-theme .custom-nav .owl-prev, .others_products .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}
.others_products .owl-theme .custom-nav .owl-prev i, .others_products .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}
.others_products .owl-theme .custom-nav .owl-prev {
  right: 18px;
}
.others_products .owl-theme .custom-nav .owl-next {
  right: -40px;
}
.others_products .owl-theme .owl-nav :hover {
  background: none !important;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* ============ ScrollToUP Section =========== */
#top_button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #111111;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

#top_button:hover {
  background-color: #555;
}/*# sourceMappingURL=style.css.map */